
@font-face {
    font-family: Script;
    src: url(./assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

* {
    padding: 0px;
    margin: 0px;
   
}
html {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: aqua;
}
header {
    padding: 10px;
    justify-content: center;
}
h1 {
    font-family: "Script", sans-serif;
    font-size: 2.5rem;
    border: solid 2px black;
    border-radius: 15px;
    background-image: linear-gradient(to right, pink 40%, blue);
    width: fit-content;
    padding: 0px 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

hr {
    height: 5px;
    border-radius: 5px;
    background-color: black;
    margin: 0px 20px;
}
main {
    text-align: center;
    padding: 20px 10px;
}
button {
    font-size: 3rem;
    padding: 20px;
    margin: 20px;
}
h2, h3 {
    margin: 20px;
}

#gif-div {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    
}
.picture {
    
}
footer {
    padding: 0px;
    text-align: center;
}
#reset {
    font-size: 1rem;
    padding: 0px;
}